.logo {
  width: 200px;
}

.line-charts {
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 10%;
  right: 10%;
  width: 80%;
}

.line-chart-wrapper {
  display: inline-block;
  width: 50%;
  height: 300px;
}