/*
HC_VAGRANT_BLUE_LIGHTEST = "#EFF5FF";
HC_VAGRANT_BLUE_LIGHT = "#66A2FF";
HC_VAGRANT_BLUE_DARK = "#1563FF";
HC_VAGRANT_BLUE_DARKEST = "#08368B";
*/

.App {
  font-family: 'Klavika', 'Courier New', Courier, monospace;
  width: 500px;
  margin: auto;
  text-align: center;

  .logo {
    margin-top: 20px;
    width: 200px;
  }

    .tabs {
      border: 1px solid #888;
      height: 20px;
      
      .tab {
        display: block;
        height: 20px;
        cursor: pointer;
        &.selected {
          background: #ccc;
        }

        &:hover {
          background: #fee;
        }
      }
    }

  .half-col {
    width: 50%;
    float: left;
  }

  .bundle-list, 
  .workspaces-list {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
  }

  .config-bundle,
  .workspace {
    display: block;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;

    &:hover {
      border-color: #222;
    }

    button {
      margin-left: 10px;
    }
  }

  .config-bundle,
  .workspace {
      a {
        width: 100%;
        display: block;
        margin-bottom: 5px;
      }
  }
}